<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>MTM药物治疗管理</title>
    <script src="/assets/js/js_adapt.js"></script>
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/swiper-3.2.7.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
<!-- Swiper -->
<div class="m-container games_levy">
    <div class="loading">
        <div class="skype-loader load-inner">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="skype-loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <section class="swiper-container main-swiper hide-abs">
        <div class="swiper-wrapper">
            <!--第一页-->
            <div class="swiper-slide slide-1">
                <div class="logo">
                    <img src="/assets/img/logo.png" alt="logo">
                </div>
                <h1 class="slogan" alt="慢病药物治疗管理"></h1>
                <p class="act-time">
                    慢病药物治疗管理<br>
                    <span class="time">智能工作平台</span>
                </p>
                <div class="use-teacher">
                    <a class="first-a" href="/appusepdf">MTM-App使用指南查看</a>
                    <a href="/appusevideo">MTM-App使用视频查看</a>
                </div>
                <div class="download_box">
                    <ul>
                        <li style="display:none">
                            <a id="ios" href="/file/mtm.apk" title="iphone">
                                <i class="iphone_icon"></i>
                                <i class="iphone_word"></i>
                            </a>
                        </li>
                        <li>
                            <a id="ad" href="/file/mtm.apk" title="Android">
                                <i class="Android_icon"></i>
                                <i class="Android_word"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <img class="next-tip" src="/assets/img/arrowdown.png" alt="下一页">
            </div>
            <!--第二页-->
            <div class="swiper-slide slide-2">
                <div class="cnt-wrap">
                    <div class="main-intro">
                        <h2 class="sec-tit">
                            MTM药物治疗管理
                        </h2>
                        <p class="main-intro-txt">
                            执行药物治疗管理(MTM)模式，为慢病终生价值管理与会员终生价值管理系上纽带。慢性疾病不可治愈性和长期管理的需要，对零售药店是个机会也是个挑战。大数据和人工智能技术支撑下的MTM智能工作平台，让患者健康与商业价值实现了共赢。
                        </p>
                    </div>
                    <div class="act-time">
                        <span class="time">药师展开药物治疗管理，而非疾病诊断和治疗</span>
                    </div>
                    <div class="p-cnt">
                        <h3 class="p-tit">
                            MTM工作平台四大功能
                        </h3>
                        <p class="p-intro">
                            药物治疗管理是为优化患者治疗结局，特别是需要长期治疗的慢病患者而实施的一项专业服务模式.
                        </p>
                        <ul class="p-list">
                            <li class="p-item">
                                <span class="p-num">1、</span>
                                <p class="p-txt">慢病会员精确定位</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">2、</span>
                                <p class="p-txt">药店药师服务决策</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">3、</span>
                                <p class="p-txt">慢病会员可视化患教</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">4、</span>
                                <p class="p-txt">慢病会员自动随访</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <img class="next-tip" src="/assets/img/arrowdown.png" alt="下一页">
            </div>
            <!--第三页-->
            <div class="swiper-slide slide-3">
                <div class="cnt-wrap">
                    <div class="p-cnt">
                        <h3 class="p-tit">
                            药店慢病管理面临的问题
                        </h3>
                        <ul class="p-list">
                            <li class="p-item">
                                <span class="p-num">1、</span>
                                <p class="p-txt">药店药师的医药专业提升靠培训 ?</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">2、</span>
                                <p class="p-txt">管理过程信息记录靠纸笔 ?</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">3、</span>
                                <p class="p-txt">患者教育靠嘴说 ?</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">4、</span>
                                <p class="p-txt">随访靠电话 ?</p>
                            </li>
                        </ul>
                    </div>
                    <div class="p-cnt">
                        <h3 class="p-tit">
                            MTM解决的痛点
                        </h3>
                        <ul class="p-list">
                            <li class="p-item">
                                <span class="p-num">1、</span>
                                <p class="p-txt">知识资源</p>
                                <ul class="p-list">
                                    <li class="p-item">
                                        <span class="p-num">a.</span>
                                        <p class="p-txt">知识库提供强大的智能医学药学决策功能；</p>
                                    </li>
                                    <li class="p-item">
                                        <span class="p-num">b.</span>
                                        <p class="p-txt">会员的药和病是怎么回事一目了然；</p>
                                    </li>
                                    <li class="p-item">
                                        <span class="p-num">c.</span>
                                        <p class="p-txt">提供专业的话术解读，让所有的药师都能展示一样的专业水准；</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="p-item">
                                <span class="p-num">2、</span>
                                <p class="p-txt">信息化</p>
                                <ul class="p-list">
                                    <li class="p-item">
                                        <span class="p-num">a.</span>
                                        <p class="p-txt">自动提醒每个慢病会员管理任务和状态；</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="p-item">
                                <span class="p-num">3、</span>
                                <p class="p-txt">患者教育看得见</p>
                                <ul class="p-list">
                                    <li class="p-item">
                                        <span class="p-num">a.</span>
                                        <p class="p-txt">患教交互屏提供会员体检功能；</p>
                                    </li>
                                    <li class="p-item">
                                        <span class="p-num">b.</span>
                                        <p class="p-txt">患教交互屏提供丰富的图文+视频；</p>
                                    </li>
                                    <li class="p-item">
                                        <span class="p-num">c.</span>
                                        <p class="p-txt">医学药学教育可视化；</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <img class="next-tip" src="/assets/img/arrowdown.png" alt="下一页">
            </div>
             <div class="swiper-slide slide-4">
                <div class="cnt-wrap">
                    <div class="p-cnt">
                        <h3 class="p-tit">
                            瑞启简介
                        </h3>
                        <ul class="p-list">
                            <li class="p-item">
                                <span class="p-num">1、</span>
                                <p class="p-txt">北京瑞启医药信息科技有限公司是一家深耕与智能化技术与医药行业相结合的高新技术企业.</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">2、</span>
                                <p class="p-txt">北京瑞启的学术，研发及顾问团队来自于医药，药学，数字科学等领域.人才资本雄厚，具备扎实的教育背景和丰富的医药实践经验.</p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">3、</span>
                                <p class="p-txt">瑞启以病患服务场景下的路径管理为基础，用循证医学、临床指南和规范药学服务为指导，提取、整合了最有益于患者的服务y要点，构建了强大的模块化知识体系./p>
                            </li>
                            <li class="p-item">
                                <span class="p-num">4、</span>
                                <p class="p-txt">以云端大数据分析、神经网络深度学习和自然语言识别处理技术、开发了具有持续学习能力的智能化工作平台，为各大医药服务场景提供了专业支持.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <img class="next-tip" src="http://gad.qpic.cn/assets/m/img/activity/games_levy/arrowdown.png" alt="下一页">
            </div>

            <!--第四页-->
            <div class="swiper-slide slide-5">
                <div class="cnt-wrap">
                    <div class="p-cnt">
                        <h3 class="p-tit">
                            关注我们
                        </h3>
                        <div class="partner-wrap logowrap">
                            <div class="leader-box">
                                <div class="partner">
                                    <img class="partner-pic" src="/assets/img/logo.png" alt="">
                                </div>
                            </div>
                            <span class="ico-scrolldown"></span>
                        </div>

                        <div class="partner-wrap weixinwrap">
                            <div class="leader-box">
                                <div class="partner">
                                    <img class="partner-pic" src="/assets/img/weixin.jpg" alt="">
                                </div>
                            </div>
                            <span class="ico-scrolldown"></span>
                        </div>
                    </div>
                </div>
                <p class="apply-way">
                    MTM药物治疗管理官方网站<br>
                    <a href="http://o4bs.com/">o4bs.com</a>
                </p>
            </div>
        </div>
    </section>
</div>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<!-- <script src="/assets/js/swiper-3.2.7.min.js"></script> -->
<script src="http://gad.qpic.cn/assets/m/js/global/swiper-3.2.7.min.js"></script>

<script>
    setTimeout(function(){
        $(".loading").addClass("f-hide");
        $(".main-swiper").removeClass("hide-abs");
        $(".slide-1").removeClass("swiper-slide-active")
    },2000)
    setTimeout(function(){
        $(".slide-1").addClass("swiper-slide-active");
    },2030)
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        followFinger: false,
        loop: true
    });
    $('.next-tip').click(function(){
        swiper.slideNext();
    })
    $(".games_levy .cnt-wrap-scroll").on("touchmove",function(event){
        event.stopPropagation();
    });
     $(".games_levy .leader-box").on("touchmove",function(event){
        event.stopPropagation();
    });
</script>
<!-- 微信分享  -->
<script>
    var weixin_img_url = "http://gad.qpic.cn/assets/m/img/activity/games_levy/share.jpg";
    var weixin_share_desc = '腾讯发行支持！原创手游“绿色通道”开通';
    function onBridgeReady() {
        //转发朋友圈
        WeixinJSBridge.on("menu:share:timeline", function (e) {
            var url = window.location.href;
            var data = {
                img_url: weixin_img_url,
                img_width: "120",
                img_height: "120",
                link: url,
                //desc这个属性要加上，虽然不会显示，但是不加暂时会导致无法转发至朋友圈，
                desc: '腾讯发行支持！原创手游“绿色通道”开通',
                title: '腾讯发行支持！原创手游“绿色通道”开通' /*window.document.title*/
            };
            WeixinJSBridge.invoke("shareTimeline", data, function (res) {
            });
        });
        //分享给朋友
        WeixinJSBridge.on('menu:share:appmessage', function (argv) {
            var url = window.location.href;
            WeixinJSBridge.invoke("sendAppMessage", {
                img_url: weixin_img_url,
                img_width: "120",
                img_height: "120",
                link: url,
                desc: '腾讯游戏学院携手极光计划征集原创手游，孵化服务和发行资源支持！',
                title: '腾讯发行支持！原创手游“绿色通道”开通'
            }, function (res) {
            });
        });
    }
    ;
    //执行
    try {
        document.addEventListener('WeixinJSBridgeReady', function () {
            onBridgeReady();
        });
    } catch (e) {
    }
    ;
</script>
</body>
</html>
